<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Goldengrove</title>
    <link href='http://fonts.googleapis.com/css?family=Princess+Sofia|Niconne|Cookie|Great+Vibes|Sacramento|Norican|Qwigley|Stalemate|Rochester|Montez|Parisienne|Mountains+of+Christmas|Clicker+Script|Rouge+Script|Lovers+Quarrel|Open+Sans' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- Make this Haml somehow -->
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name" id="main-title">
          <h1><%= link_to 'Goldengrove', '/' %></h1>
        </li>
        <li class="toggle-topbar menu-icon">
          <a href="#"><span>Menu</span></a>
        </li>
      </ul>

      <section class="top-bar-section">

        <!-- Right Nav Section -->
        <ul class="right">
          <% if current_user %>
            <li>
              <%= link_to current_user.twitter_handle, profile_path(current_user.id) %>
            </li>
            <li>
              <%= link_to 'Sign out', signout_path %>
            </li>
          <% else %>
            <li>
              <%= link_to 'Sign in with Twitter', '/auth/twitter' %>
            </li>
          <% end %>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li><a href="#"><%= link_to 'Salon', '/poems' %></a></li>
          <li><a href="#"><%= link_to 'Create', '/poems/new' %></a></li>
          <li><a href="#"><%= link_to 'About', '/about' %></a></li>
        </ul>

      </section>

    </nav>


    <%= yield %>

  </body>
</html>
